@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-display: "Satoshi", "sans-serif";
  --color-primary: rgb(26, 26, 26);
  --color-secondary: #242424;
  --color-logo: #03DAC6;
  --color-text: #FFFFFF;
  --color-text2:#B0B0B0;




}

    
